<!DOCTYPE HTML>
{%load static%}


<html>
	<head>
		<title>ColorsDB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'ColorsDB/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'ColorsDB/assets/css/noscript.css' %}" /></noscript>
		<style>
		img {
		  display: block;
		  margin-left: 500px;
		  margin-right: auto;

		}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">Colors Medical Laboratories


				<!-- Header -->
					<header id="header" class="alt">
<!--						<img src="{% static 'ColorsDB/images/colors.png'%}">-->
						<a href="index.html" class="logo"><strong>Colors Medical Laboratories</strong> <span>Database</span></a>
						<br><br>

						<nav>
							<a href="#menu">Menu</a>
						</nav>
<!--						<img src="{% static 'ColorsDB/images/colors.png'%}">-->
					</header>


				<!-- Menu -->
					<nav id="menu">
						<ul class="links">

							<li><a href="{% static 'ColorsDB/index.html' %}">Home</a></li>
							<li><a href="landing.html">IonTorrent S5</a></li>
							<li><a href="generic.html">Proton</a></li>
							<li><a href="generic.html">Sanger 3500</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Explore...</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<img src="{% static 'ColorsDB/images/colors-removebg-preview.png'%}" align="left">
								<img src="{% static 'ColorsDB/images/clinilab-removebg-preview.png'%}" >
								<img src="{% static 'ColorsDB/images/analysis-removebg-preview.png'%}" height="200px">
								<h1>Colors Medical Laboratories Database</h1>
							</header>
							<div class="content">
								<p>A database for genomic, transcriptomic, exomic, and metagenomic sequencing data</p>

								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Explore</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->s
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{% static 'ColorsDB/images/1441111722484.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% static '/ColorsDB/ion_s5/docs/s5.html' %}" class="link"> IonTorrent S5</a></h3>
										<p>Ion Torrent™ Next-Generation Sequencing</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src=" {% static 'ColorsDB/images/proton.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Proton</a></h3>
										<p>Ion Proton™ System</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'ColorsDB/images/ezgif.com-gif-maker.png' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Sanger 3500</a></h3>
<!--										<p>Genetic Analyzer</p>-->
									</header>
								</article>
<!--								<article>-->
<!--									<span class="image">-->
<!--										<img src="{% static 'ColorsDB/images/pic04.jpg' %}" alt="" />-->
<!--									</span>-->
<!--									<header class="major">-->
<!--										<h3><a href="landing.html" class="link">PCR</a></h3>-->
<!--&lt;!&ndash;										<p>Nisl sed aliquam</p>&ndash;&gt;-->
<!--									</header>-->
<!--								</article>-->
<!--								<article>-->
<!--									<span class="image">-->
<!--										<img src="{% static 'ColorsDB/images/pic05.jpg' %}" alt="" />-->
<!--									</span>-->
<!--									<header class="major">-->
<!--										<h3><a href="landing.html" class="link">Agena</a></h3>-->
<!--&lt;!&ndash;										<p>Ipsum dolor sit amet</p>&ndash;&gt;-->
<!--									</header>-->
<!--								</article>-->
<!--								<article>-->
<!--									<span class="image">-->
<!--										<img src="{% static 'ColorsDB/images/pic06.jpg '%}" alt="" />-->
<!--									</span>-->
<!--									<header class="major">-->
<!--										<h3><a href="{% static 'ColorsDB/landing.html" class="link">Empty</a></h3>-->
<!--&lt;!&ndash;										<p>Feugiat amet tempus</p>&ndash;&gt;-->
<!--									</header>-->
<!--								</article>-->
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Colors Medical Laboratories</h2>
									</header>
									<p>Our Labs specialized on food safety; all facilities and capabilities to perform state-of- the-art chemical and biological analyses. Chemical analyses for all food matrices.as well as Biological analyses include bacterial and viral pathogens and indicator organisms. The Lab also performs assays on other environmental samples including soils; water and plant.</p>
									<ul class="actions">
										<li><a href="http://www.colorsfortesting.com/contact-us/" class="button next">Official Website</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">E-mail here</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+202 25258451 – +202 25258498</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>4, 160 St., Riham Tower, Etehad Square, <br />
										Maadi , Cairo, Egypt</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; All Copyrights Reserved </li><li>Design: <a href="https://scholar.google.com.eg/citations?user=UuTCVhsAAAAJ&hl=en">Peter T. Habib</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'ColorsDB/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'ColorsDB/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'ColorsDB/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'ColorsDB/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'ColorsDB/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'ColorsDB/assets/js/util.js' %}"></script>
			<script src="{% static 'ColorsDB/assets/js/main.js' %}"></script>

	</body>
</html>